#img_error
			{
				width: 100%;
				height: 100%;
				background: #fff url(../images/error_chat.png)no-repeat center 15%;
				position: absolute;
				left: 0px;
				top: 0px;
				opacity: 0.85;
				text-align: center;
				display: none;
			}
			#img_error span
			{
				font: normal 12px Arial;
				color: #D35656;
				display: block;
				position: absolute;
				top: 85%;
				left: 17%;
			}
			#img_loader_chat
			{
				width: 100%;
				height: 100%;
				background: #fff url(../images/loader.gif)no-repeat center 40%;
				position: absolute;
				left: 0px;
				top: 0px;
				opacity: 0.85;
				text-align: center;
				display: none;
			}
			#img_loader_chat span
			{
				font: normal 12px Arial;
				color: #555;
				display: block;
				position: absolute;
				top: 61%;
				left: 37%;
			}
			#list_diagramas
			{
				width: 100%;
				height: 100%;
				background: #fff;
				/*position: absolute;*/
				left: 0px;
				top: 0px;
				opacity: 1;
				text-align: center;
				display: none;
			}
			#list_diagramas h2
			{
				display: block;
				vertical-align: middle;
				font: normal 14px Arial;
				color: #555;
				margin: 10px 0px 20px 0px;
				text-align: center;
				cursor: pointer;
			}
			#list_diagramas span
			{
				display: block;
				vertical-align: middle;
				font: normal 12px Arial;
				color: #666;
				margin: 10px 0px 10px 20px;
				text-align: left;
				cursor: pointer;
				background: url(../images/li.png)no-repeat left center;
				padding-left: 20px;
				text-transform: uppercase;
			}
			.ui-chatbox {
				position: fixed;
				background: #CCCCCC;
				width: 320px;
				right: 20px;
				bottom: 0px;
				border-radius: 5px 5px 0px 0px;
                padding: 0px;
                box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
                box-sizing: border-box;
                z-index: 100;
			}
			.ui-chatbox-titlebar
			{
			    background: #210d03 !important; /* Old browsers */
			    background: -moz-linear-gradient(left, #210d03 0%, #7c7676 37%, #7c7676 61%, #210d03 100%) !important; /* FF3.6+ */
			    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#210d03), color-stop(37%,#7c7676), color-stop(61%,#7c7676), color-stop(100%,#210d03)) !important; /* Chrome,Safari4+ */
			    background: -webkit-linear-gradient(left, #210d03 0%,#7c7676 37%,#7c7676 61%,#210d03 100%) !important; /* Chrome10+,Safari5.1+ */
			    background: -o-linear-gradient(left, #210d03 0%,#7c7676 37%,#7c7676 61%,#210d03 100%) !important; /* Opera 11.10+ */
			    background: -ms-linear-gradient(left, #210d03 0%,#7c7676 37%,#7c7676 61%,#210d03 100%) !important; /* IE10+ */
			    background: linear-gradient(to right, #210d03 0%,#7c7676 37%,#7c7676 61%,#210d03 100%) !important; /* W3C */
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210d03', endColorstr='#210d03',GradientType=1 ) !important; /* IE6-9 */
			    -webkit-animation: pulse 1s ease alternate infinite !important;
			    color: white !important;
			    position: relative !important;
			    overflow: hidden !important;
			    padding: 7px 10px !important;
			    border-radius: 5px 5px 0px 0px;
			    
			}
			.ui-chatbox-titlebar span
			{
				float: left;
			    padding: 5px 0px 5px 5px;
			    display: inline-block;
			    vertical-align: top;
			    font: bold 14px Arial;
			    color: #eee;
			}
			.ui-chatbox-titlebar a
			{
				float: right;
				background: #eee;
				height: 22px;
				width: 22px;
				margin: 2px 0px 0px 5px !important;
				border-radius: 2px !important;
			}
			.ui-chatbox-titlebar a .ui-icon-closethick
			{
			    background: url(../images/close.png)no-repeat center center !important;
			    width: 22px;
				height: 22px;
				display: block;
				padding: 0px !important;
				text-indent: -99999px !important;
				overflow: hidden !important;
			}
			.ui-chatbox-titlebar a .ui-icon-minusthick
			{
			    background: url(../images/mini.png)no-repeat center center !important;
			    width: 22px;
				height: 22px;
				display: block;
				padding: 0px !important;
				text-indent: -99999px !important;
				overflow: hidden !important;
			}

			.ui-chatbox-content
			{
				position: relative;
			}

			.ui-chatbox-content .ui-chatbox-options-borderless .ui-chatbox-button-guardar
			{
			    width: 99% !important;
			}

			.ui-chatbox-content .ui-chatbox-log
			{
			    background: #E8E8E8;
			    padding: 10px;
			    border: none !important;
			    height: 250px;
				overflow-y: auto;
				overflow-x: hidden;
				border-bottom: 1px solid #aaaaaa;
				border-left: none;
				border-right: none;
			}

			.ui-chatbox-content .ui-chatbox-log {
				background: #E8E8E8;
				padding: 10px;
				border: none !important;
			}

			.ui-chatbox-content .block
			{
				display: block;
				margin: 10px 10px;
			}

			.ui-chatbox-content .block input[type="text"],
			.ui-chatbox-content .block input[type="password"]
			{
				width: 94%;
				padding: 7px;
				outline: none;
				border-radius: 4px;
				border: solid 1px #ccc;
				color: #555;
				-webkit-transition-duration: 0.7s;
				-moz-transition-duration: 0.7s;
			}

			.ui-chatbox-content .block input[type="text"]:focus,
			.ui-chatbox-content .block input[type="password"]:focus
			{
				border: solid 1px #aaa;
				box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
			}

			.ui-chatbox-content .block input[type="submit"],
			.ui-chatbox-content .block input[type="button"]
			{
				margin: 20px auto;
				width: 120px;
				border: none;
				border-radius: 3px;
				padding: 7px 6px;
				text-transform: uppercase;
				color: #fff;
				display: block;
				background: #aaa;
			    cursor: pointer;
			    -webkit-transition-duration: 0.7s;
				-moz-transition-duration: 0.7s;
				outline: none;
			}
			.ui-chatbox-content .block input[type="submit"]:hover,
			.ui-chatbox-content .block input[type="button"]:hover
			{
				opacity: 0.7;
			}

			
			.ui-chatbox-msg {
			    margin-top: 10px;
			    clear: both;
			    white-space: pre-wrap;      /* CSS3 */
			    white-space: -moz-pre-wrap; /* Firefox */
			    white-space: -pre-wrap;     /* Opera <7 */
			    white-space: -o-pre-wrap;   /* Opera 7 */
			    word-wrap: break-word;      /* IE */
			    background: #fff;
			    padding: 10px;
			    position: relative;
			}
			.ui-chatbox-msg.externo
			{
			    float: right;
			    background: #E8F5D9;
			}
			.ui-chatbox-msg.interno
			{
			    float: left;
			}
			.ui-chatbox-msg.sistema
			{
			    float: left;
			}
			.ui-chatbox-msg b
			{
			    
			    font: bold 11px Arial;
			    color: #48A8A4;
			    text-transform: uppercase;

			}
			.ui-chatbox-msg.interno b,
			.ui-chatbox-msg.sistema b
			{
				color: #777;
			}
			.ui-chatbox-msg span
			{
			    
			    font: normal 12px Arial;
			    color: #949494;
			    display: block;
			    margin: 5px 0px 0px 10px; 
			}

			.ui-chatbox-input {
			    padding: 0px;
			    background: #fff;
			    overflow: hidden;
			    width: 100%;
			    margin: 0px !important;
			    max-width: 100% !important;
			}

			.ui-chatbox-input-box {
			    margin: 5px;
			    border: 2px solid #ccc;
			    padding: 2px;
			    height: 50px;
			    width: 94%;
			    resize: none;
			    outline: none;
			    font: normal 13px Arial;
			    color: #666;
			}
			.ui-chatbox-input-focus {
			    border: 2px solid #999;
			    outline: none;
			}

			.ui-chatbox-options-borderless
			{
				padding: 7px 0px;
				text-align: center;
				cursor: pointer;
			}
			.ui-chatbox-options-borderless label
			{
				font: bold 11px Arial;
				color: #666;
				cursor: pointer;
			}
			.ui-chatbox-options-borderless:hover
			{
				background: #ddd;
			}

			.ui-chatbox-alert
			{
				padding: 3px 5px;
				background: #fff;
				font: normal 11px Arial;
				color: #555;
			}
